@import includes
@import ionicons
@import fonts

body
  background-color: white
  margin: 0
  width: 100%
  padding: 0
  font-family: $main-type-font

h2
  font-family: $roboto-slab
  margin: 0 0 15px 0
  padding: 0
  min-height: 30px
  line-height: 30px
  font-size: 28px
  color: $dark-gray-color
  text-transform: uppercase
  display: inline-block
h3
  font-family: $main-type-font
  margin: 0 0 15px 0
  min-height: 20px
  line-height: 20px
  font-size: 18px
  text-transform: uppercase
  display: inline-block
  font-weight: 200
  span
    background-color: $dark-gray-color
    color: white
    line-height: 20px
    padding: 3px 5px 3px 0
    display: inline-block
    float: left
    &:last-child
      padding: 3px 0
p
  font-family: $roboto-slab
  font-size: 14px
  line-height: 22px
  font-weight: 200
  color: $dark-gray-color
  padding-bottom: 15px
.wrapper
  width: 100%
  &.outer
    padding: 60px 30px 30px 30px
    display: inline-block
    float: left

.align-center
  text-align: center

.align-right
  text-align: right
ul
  &.blocks
    list-style-type: none
    padding: 0
    margin: 0
    float: left

//Background colors

.bg-white
  background: white
.bg-yellow
  background: $yellow-color
.bg-gray
  background: $gray-color
.bg-blue
  background: $blue-color
.bg-red
  background: $red-color
.bg-orange
  background: $orange-color
//Text colors
.text-white
  color: white

//Navigation
nav
  &.social
    height: 30px
    width: auto
    position: fixed
    right: 90px
    top: 0
    ul
      li
        display: inline-block
        float: left
        a
          height: 30px
          width: 30px
          text-align: center
          display: inline-block
          float: left
          padding: 5px 10px
          line-height: 20px
          text-transform: uppercase
          background-color: $dark-gray-color
          color: white
          font-size: 18px
          text-decoration: none

  &.main
    position: absolute
    width: 100%
    height: 30px
    left: 0
    top: 15px
    ul
      text-align: center
      width: 100%
      li
        height: 30px
        display: inline-block
        float: none
        margin: 0 30px
        a
          text-decoration: none
          text-transform: uppercase
          font-size: 14px
          line-height: 30px
          font-weight: 300
          color: $black-color
// Header
header
  display: inline-block
  width: 100%
  height: 60px
  float: left
  position: fixed
  left: 0
  top: 0
  background-color: rgba(255,255,255,0.9)
  z-index: 99
  .logo
    position: relative
    margin-left: 90px
    height: 60px
    width: 60px
    display: inline-block
    float: left
    background-color: $dark-gray-color
    padding: 15px 0
    h1
      color: #ffffff
      font-size: 12px
      line-height: 30px
      text-align: center
      text-transform: uppercase
      letter-spacing: 5px
      font-family: $intro
      margin: 0
// Content
section
  .block
    width: 100%
    float: left
    display: inline-block
    position: relative
    margin-bottom: 30px
    > h2
      position: absolute
      left: 15px
      top: 15px
      font-size: 36px
      line-height: 40px
      font-family: $roboto-slab
      span
        width: auto
        position: relative
        clear: both
        display: block
    &.square
      padding: 100% 0 0 0
    &:hover
      > .item-image
        width: 100%
        transition: width ease-in-out 200ms
      > .item-content
        background-color: rgba(255,255,255,0.5)
        transition: background ease-in-out 200ms
  .item-image
    display: inline-block
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 33.333%
    background-position: center
    background-size: cover
    transition: width ease-out 200ms
    &.audio
      background-image: url('../images/new/audio.jpg')
    &.bike
      background-image: url('../images/new/bike.jpg')
    &.graphic
      background-image: url('../images/new/painting.jpg')
    &.amps
      background-image: url('../images/amps.jpg')
  .item-content
    display: inline-block
    position: absolute
    right: 0
    bottom: 0
    height: auto
    width: 66.6667%
    padding: 15px
    transition: background ease-out 200ms
    background-color: rgba(255,255,255,0)
// Buttons
.btn
  display: inline-block
  width: auto
  padding: 10px 30px
  height: 40px
  line-height: 18px
  font-size: 16px
  border: 1px solid $dark-gray-color
  color: $dark-gray-color
  text-transform: uppercase
  font-family: $main-type-font
  border-radius: 0
  font-weight: 300
// ------ RESPONSIVE -------