@import default

.site-intro
	padding: 33.33% 0 0
	width: 100%
	background-size: cover
	background-position: center

	
	.intro-text
		position: absolute
		bottom: 80px
		width: 100%

		h1
			font-weight: 700
		h1, h3
			width: 100%

.item-wrapper
	height: auto
	position: relative
	overflow: hidden

	&.small

		.item-image,
		.item-intro
			width: 100%
			padding: 100% 0 0
			display: block
	&.big

		.item-image
			width: 100%
			padding: 50% 0 0
			display: block

	&:hover .item-description
		-webkit-transform: translate3d(0,0,0)
		transform: translate3d(0,0,0)
		opacity: 1
		filter: alpha(opacity=100)
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s
		transition: opacity 0.5s, transform 0.5s
	
	&:hover .item-image
		-webkit-filter: none
		-moz-filter: none
		-ms-filter: none
		-o-filter: none
		filter: none
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s
		transition: opacity 0.5s, transform 0.5s

	
	.item-image
		background-size: cover
		background-position: center
		-webkit-filter: grayscale(70%)
		-moz-filter: grayscale(70%)
		-ms-filter: grayscale(70%)
		-o-filter: grayscale(70%)
		filter: grayscale(70%)
		filter: gray
		


	.item-description,
	.item-intro-title
		position: absolute
		left: 0
		bottom: 0
		width: 100%

	.item-description
		background: rgba(255,255,255,0.8)
		-webkit-transform: translate3d(0,100px,0)
		transform: translate3d(0,100px,0)
		opacity: 0
		filter: alpha(opacity=0)

	.item-intro-title h3
		font-size: 22px

.my-subjects
	padding: 120px 0

	h3
		font-size: 30px
		width: 100%

#item-1
	background-image: url("../img/3xt.jpg")
#item-2
	background-image: url("../img/amplissimo.jpg")
#item-3
	background-image: url("../img/amps.jpg")
#item-4
	background-image: url("../img/dac.jpg")
#item-5
	background-image: url("../img/stomp.jpg")
#item-6
	background-image: url("../img/label305.jpg")
#item-7
	background-image: url("../img/awesomebusiness.jpg")
#item-8
	background-image: url("../img/hanzesteden.png")
#item-9
	background-image: url("../img/label305-website.jpg")
#item-10
	background-image: url("../img/bedrijvendagen.png")
#item-11
	background-image: url("../img/redbull.png")
#item-12
	background-image: url("../img/grolsch-stender.png")
#item-13
	background-image: url("../img/watch.jpg")
#item-14
	background-image: url("../img/dre.jpg")
#item-15
	background-image: url("../img/elbulli.jpg")
#item-16
	background-image: url("../img/nord.png")
#item-17
	background-image: url("../img/kpo.png")