.item-wrapper
	height: auto
	position: relative

	&.small

		.item-image
			width: 100%
			padding: 100% 0 0
			display: block
	&.big

		.item-image
			width: 100%
			padding: 50% 0 0
			display: block

	
	.item-image
		

	.item-description
		position: absolute
		left: 0
		bottom: 0