<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta name="description" content="Portfolio site of Olav Peuscher"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="author" content="Olav Peuscher" />

	<meta name="p:domain_verify" content="8ee6b78cc7688cb37092f8a2769c2802"/>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
</head>

	
<html>
	<body>
			
			{{ content }}

	</body>
</html>

<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/js/vendor/cssua.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>